extends ../main.layout.pug

block variables
    -var title= 'Главная'

block content
    .container
        span.fa.fa-spinner.fa-spin.fa-3x.fa-fw
        .my-love
            img(src="./img/photo.jpg", alt="").my-love-pic
