//fonts
$font: "ubuntu", Arial, sans-serif;
$font-size: 16px;

//colors
$bg: #fff;
$text: #000;
$white: #ffffff;
$black: #000000;
$medium-jungle-green: #2f3234;
$yellow-orange: #f9b43b;
$lite-yellow-gray: #d1cfcb;
$light-gray: #cfd8dc;
$onyx: #141414;
$flame: #e45028;
$light-light-gray: #b5babd;
$ash-grey: #626262;
$flame1: #e35028;
$isabelline: #f5f2ed;
$ash-gray0: #c0c8cb;
$dark-jungle-green: #1f2122;
$rifle-green: #3e3e3e;
$dark-pastel-red: #c1401e;
$ash-grey1: #b0bec5;
$ash-grey: #c0afaa;
