-
    let nav = [
    {
    title:'О нас',
    link: '#'
    },

    {
    title:'Бургеры',
    link: '#'
    },

    {
    title:'Команда',
    link: '#'
    },
    {
    title:'Меню',
    link: '#'
    },
    {
    title:'Отзывы',
    link: '#'
    },
    {
    title:'как мы работаем',
    link: '#'
    },
    {
    title:'Контакты ',
    link: '#'
    }
    ]

-
    let teams = [
    {
    text: 'Дэниэл Редклиф',
    src: './img/content/team/0.jpg',
    occup: 'Руководитель ресторана',
    descr: 'Как руководитель ресторана Burger’s отвечает за прибыль, оптимизацию руководства рестораном, а также осуществляет контроль над продажами и руководит командой ресторана'
    },

    {
    text: 'Ричард Джеймс',
    src: './img/content/team/1.jpg',
    occup: 'Менеджер',
    descr: ' Позаботится о том, чтобы во время его смены все было под контролем.  Обязанности  Ричарда включают в себя руководство всеми аспектами работы – от приветствия клиентов до качества и скорости обслуживания в ресторане. В дополнение к этому Ричард несет ответственность за контроль надлежащего технического обслуживания оборудования, следит за инвентарем и качеством поставляемых продуктов '
    },

    {
    text: 'Джейк Финн',
    src: './img/content/team/2.jpg',
    occup: 'Ведущий',
    descr: 'С удовольствием заботится о хорошем настроении клиентов в ресторане! Приглашает клиентов, приходит на помощь в любых ситуациях и рассматривает жалобы, чтобы все клиенты остались довольны.  Общается с детьми и организует дни рождения в Burger’s.  '
    },

    {
    text: 'Николай Иванов',
    src: './img/content/team/3.jpg',
    occup: 'Член команды',
    descr: 'C радостью обеспечивает удовлетворенность клиентов, выполняет различные задания, включая подготовку, производство, уборку и раздачу блюд в соответствии со стандартами Burger’s '
    }

    ]
-
    let menuAccordeon = [
    {
    title: "Для мясоедов",
    src: "./img/content/menu/1.jpg",
    text: "C радостью обеспечивает удовлетворенность клиентов, выполняет различные задания, включая подготовку, производство, уборку и раздачу блюд в соответствии со стандартами Burger’sC радостью обеспечивает удовлетворенность клиентов, выполняет различные задания, включая подготовку, производство, уборку и раздачу блюд в соответствии со стандартами Burger’sC радостью обеспечивает удовлетворенность клиентов, выполняет различные задания, включая подготовку, производство, уборку и раздачу блюд в соответствии со стандартами Burger’sC радостью обеспечивает удовлетворенность клиентов, выполняет различные задания, включая подготовку, производство, уборку и раздачу блюд в соответствии со стандартами Burger’s'"
    },
    {
    title: "Вегетарианское",
    src: "./img/content/menu/2.jpg",
    text: "C радостью обеспечивает удовлетворенность клиентов, выполняет различные задания, включая подготовку, производство, уборку и раздачу блюд в соответствии со стандартами Burger’sC радостью обеспечивает удовлетворенность клиентов, выполняет различные задания, включая подготовку, производство, уборку и раздачу блюд в соответствии со стандартами Burger’sC радостью обеспечивает удовлетворенность клиентов, выполняет различные задания, включая подготовку, производство, уборку и раздачу блюд в соответствии со стандартами Burger’sC радостью обеспечивает удовлетворенность клиентов, выполняет различные задания, включая подготовку, производство, уборку и раздачу блюд в соответствии со стандартами Burger’s'"
    },{
    title: "Диетическое",
    src: "./img/content/menu/3.jpg",
    text: "C радостью обеспечивает удовлетворенность клиентов, выполняет различные задания, включая подготовку, производство, уборку и раздачу блюд в соответствии со стандартами Burger’sC радостью обеспечивает удовлетворенность клиентов, выполняет различные задания, включая подготовку, производство, уборку и раздачу блюд в соответствии со стандартами Burger’sC радостью обеспечивает удовлетворенность клиентов, выполняет различные задания, включая подготовку, производство, уборку и раздачу блюд в соответствии со стандартами Burger’sC радостью обеспечивает удовлетворенность клиентов, выполняет различные задания, включая подготовку, производство, уборку и раздачу блюд в соответствии со стандартами Burger’s'"
    }

    ]

-
    let composition = [
    {
    svg: 'beef',
    title: 'Говядина',
    weight: '300 г'
    },
    {
    svg: 'buns',
    title: 'Булочки',
    weight: '100 г'
    },
    {
    svg: 'salad',
    title: 'Зелень',
    weight: '70 г'
    },
    {
    svg: 'sauce',
    title: 'Соус',
    weight: '150 г'
    },
    {
    svg: 'cucumber',
    title: 'Овощи',
    weight: '200 г'
    },
    {
    svg: 'cheese',
    title: 'Сыр',
    weight: '80 г'
    }
    ]

-
    let socials = [
    {
    title:  'vk',
    svg: 'vk',
    link: 'https://vk.com/'
    },
    {
    title:  'fb',
    svg: 'fb',
    link: 'https://www.facebook.com/'
    },
    {
    title:  'in',
    svg: 'inst',
    link: 'http://instagram.com/'
    },
    {
    title:  'tw',
    svg: 'twitter',
    link: 'https://twitter.com/'
    }

    ]